<h3 class="font-weight-bold text-dark my-4">Products</h3>
<div class="card p-3">
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">created</th>
            <th scope="col">Tags</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>iphone X</td>
            <td>$1042</td>
            <td>14/12/2019</td>
            <td>#iphones</td>
            <td>Smart Phones</td>
            <td>
                <button class="btn btn-dark mx-1 btn-sm text-capitalize">edit</button>
                <button class="btn btn-outline-dark mx-1 btn-sm text-capitalize">details</button>
                <button class="btn btn-danger mx-1 btn-sm text-capitalize my-1">delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Air Pods</td>
            <td>$150</td>
            <td>4/12/2019</td>
            <td>#headphones</td>
            <td>airpods</td>
            <td>
                <button class="btn btn-dark mx-1 btn-sm text-capitalize">edit</button>
                <button class="btn btn-outline-dark mx-1 btn-sm text-capitalize">details</button>
                <button class="btn btn-danger mx-1 btn-sm text-capitalize my-1">delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Wireless Charger</td>
            <td>$310</td>
            <td>12/01/2020</td>
            <td>#chargers</td>
            <td>Wireless Chargers</td>
            <td>
                <button class="btn btn-dark mx-1 btn-sm text-capitalize">edit</button>
                <button class="btn btn-outline-dark mx-1 btn-sm text-capitalize">details</button>
                <button class="btn btn-danger mx-1 btn-sm text-capitalize my-1">delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>