<nav id="sidebar" class="bg-dark text-light">
    <div class="sidebar-header bg-dark text-light">
        <h3>Dashboard</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#" routerLink="/home" ><i class="fas fa-home"></i>&nbsp;Home</a>
        </li>
        <li>
            <a href="#" routerLink="/add-product" ><i class="fas fa-list"></i>&nbsp;Add Products</a>
        </li>
        <li>
            <a href="#" routerLink="/products" ><i class="fas fa-list"></i>&nbsp;Products</a>
        </li>
        <li>
            <a href="#" routerLink="/users" > <i class="fas fa-user"></i>&nbsp;Users</a>
        </li>
    </ul>
</nav>