<h3 class="font-weight-bold text-dark my-4">Users</h3>
<div class="card p-3">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Wisdom Ekpot</td>
            <td>ekpot@yahoo.com</td>
            <td>+23455667788</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>James John</td>
            <td>john@gmail.com</td>
            <td>+23456778899</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Amanam Israel</td>
            <td>Israel@gmail.com</td>
            <td>+234 9988776655</td>
          </tr>
        </tbody>
      </table>
</div>